/*Start menu***********************************************/
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 850px;
	z-index: 100;
}


.topnav { /*the ul inside the nav*/
	width: 100%;
	border-bottom: 1px solid #000000;
    list-style-type: none;  
    padding: 5px; 
    margin: auto;  
    float: left;  
}  
.topnav li {  
    float: left;  
    margin: 0 5px 0;
    padding: 0;  
    position: relative;
} 

#headerLogo{ /* this is the li that contains the a that contains the small logo img*/
	background: none;
}

#headerLogo a{
	padding: 0;
}
#headerLogo a:hover{
	padding: 0;
	background: none;
}

#smallLogo{	/* this is the small logo img*/
	float: left;
}
 
.topnav li > a{  
    padding: 7px;   
    display: block;  
    text-decoration: none;  
    float: left;  
}  
.topnav li span { /*--Drop down trigger styles--*/  
    width: 17px;  
    height: 32px;  
    float: right;  
	cursor: pointer;
    background: url(../../images/buttons/subnav_btn-down.png) no-repeat center top;  
}  
.topnav li span.subhover {
	background: url(../../images/buttons/subnav_btn-up.png) no-repeat center bottom;
	cursor: pointer; /*--Hover effect for trigger--*/
} 

.subnav { 
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
	top: 35px;  
	right: 0;
    margin: 0; 
	padding: 0;  
    display: none;  
    float: left;
    border: 1px solid #000;
	z-index: 100;
}  
 
.subnav table{
	border-collapse: collapse;
	text-align: center;
}
 
.subnav a { 
	padding: 5px;
    text-decoration: none; 
	display: block;
	margin: 0;
}  

.rigtht{
	float: right !important;
}
/*End Menu******************************************/